# 동시출현빈도 기반

In [1]:
import glob

# 긍정리뷰 100개 로딩
pos_review=(glob.glob("c:/workspace3/data/train/pos/*.txt"))[0:100]

lines_pos=[]

for i in pos_review:
    try:
        f = open(i, 'r')
        temp = f.readlines()[0]
        lines_pos.append(temp)
        f.close()
    except :
        continue

len(lines_pos)

100

In [2]:
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import pandas as pd

tokenizer = RegexpTokenizer('[\w]+') #알파벳, 숫자, _
stop_words = stopwords.words('english')

#동시출현 단어 계산
count = {}   #동시출현 빈도가 저장될 dict

for line in lines_pos:
    words =  line.lower()
#                 소문자로
    tokens = tokenizer.tokenize(words)
#               단어 나누기

    #불용어 제거, 불용어에 br 추가
    stopped_tokens = [i for i in list(set(tokens)) if i not in stop_words+["br"]]
#                                     중복값 제거

    #글자수가 1인 단어 제외
    stopped_tokens2 = [i for i in stopped_tokens if len(i)>1]

    for i, a in enumerate(stopped_tokens2):
        for b in stopped_tokens2[i+1:]:
            if a>b:
                count[b, a] = count.get((b, a),0) + 1  
                #                       key,value
            else :
                count[a, b] = count.get((a, b),0) + 1

In [3]:
#딕셔너리로부터 데이터프레임 생성
df=pd.DataFrame.from_dict(count, orient='index')

#리스트 구성
list1=[]

for i in range(len(df)):
    list1.append([df.index[i][0],df.index[i][1],df[0][i]])

In [4]:
df2=pd.DataFrame(list1, columns=["term1","term2","freq"])
df3=df2.sort_values(by=['freq'],ascending=False)
df3_pos=df3.reset_index(drop=True)

#동시출현 단어 페어 빈도 상위 20개 출력
df3_pos.head(20)

#film과 story 총 41회 동시에 출현

    term1  term2  freq
0    film  story    41
1   movie    one    41
2   movie  story    35
3    film  movie    35
4     one  story    33
5    good  movie    32
6    film    one    31
7   movie    see    30
8     one    see    27
9    film   like    27
10   like  movie    26
11  great  movie    26
12   good  story    26
13   film   good    26
14   film   well    25
15  movie   time    25
16   good    one    25
17  movie   much    25
18   film   time    25
19   film    see    24

In [7]:
#부정 리뷰에 적용
neg_review=(glob.glob("c:/workspace3/data/train/neg/*.txt"))[0:100]

lines_neg=[]

for i in neg_review:
    try:
        f = open(i, 'r')
        temp = f.readlines()[0]
        lines_neg.append(temp)
        f.close()
    except Exception as e:
        continue

len(lines_neg)

100

In [8]:
count = {}   #동시출현 빈도가 저장될 dict

for line in lines_neg:
    words =  line.lower()
    tokens = tokenizer.tokenize(words)
    stopped_tokens = [i for i in list(set(tokens)) if not i in stop_words+["br"]]
    stopped_tokens2 = [i for i in stopped_tokens if len(i)>1]
    for i, a in enumerate(stopped_tokens2):
        for b in stopped_tokens2[i+1:]:
            if a>b:
                count[b, a] = count.get((b, a),0) + 1  
            else :
                count[a, b] = count.get((a, b),0) + 1

In [9]:
df=pd.DataFrame.from_dict(count, orient='index')

list1=[]

for i in range(len(df)):
    list1.append([df.index[i][0],df.index[i][1],df[0][i]])

df2=pd.DataFrame(list1, columns=["term1","term2","freq"])
df3=df2.sort_values(by=['freq'],ascending=False)
df3_neg=df3.reset_index(drop=True)
df3_neg.head(20)

#film과 movie가 총 42회 동시에 출현

    term1   term2  freq
0    film   movie    42
1    like   movie    40
2   movie     one    38
3    film     one    35
4    like     one    33
5    even   movie    32
6    good   movie    32
7    even    like    31
8    good     one    30
9    film    like    29
10   film    good    28
11   good    like    27
12  movie   would    27
13  movie    much    26
14    bad     one    25
15   film   would    25
16   film  really    25
17   even    film    25
18  movie  really    25
19   even    good    25