### 추천시스템(컨텐트 기반 필터링)

In [1]:
#컨텐트 기반 필터링(Content based filtering) :
#  사용자가 특정 아이템을 선호하는 경우 그 아이템과 비슷한 컨텐츠를 가진 다른 아이템을 추천하는 방식

import pandas as pd

df = pd.read_csv('c:/workspace3/data/tmdb_5000_movies.csv')
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [2]:
# genres : 영화 장르
# keywords : 영화의 키워드
# original_language : 영화 언어
# title : 제목
# vote_average : 평점 평균
# vote_count : 평점 카운트
# popularity : 인기도
# overview : 줄거리

#필요한 필드만 선택
df = df[['id','genres', 'vote_average', 'vote_count','popularity','title', 'keywords', 'overview']]
df

,id,genres,vote_average,vote_count,popularity,title,keywords,overview
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",7.6,9106,112.312950,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.1,2124,43.926995,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4798,9367,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",6.6,238,14.269792,El Mariachi,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...
4799,72766,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",5.9,5,0.642552,Newlyweds,[],A newlywed couple's honeymoon is upended by th...
4800,231617,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",7.0,6,1.444476,"Signed, Sealed, Delivered","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,[],5.7,7,0.857008,Shanghai Calling,[],When ambitious New York attorney Sam is sent t...
4802,25975,"[{""id"": 99, ""name"": ""Documentary""}]",6.3,16,1.929883,My Date with Drew,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...

In [3]:
df[['genres', 'keywords']].head()

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [4]:
dict1 = "{'a': 3, 'b': 5}"

print(type(dict1)) #스트링

#print(dict1['a']) #스트링이므로 에러가 발생함
#print(dict1['b'])

<class 'str'>

In [5]:
dict2 = eval(dict1) #자료형을 스트링에서 딕셔너리로 변환

print(type(dict2))  
print(dict2['a'])
print(dict2['b'])

<class 'dict'>
3
5

In [16]:
a = 'print(10)'
print(a)
print(eval(a))

print(10)
10
None

In [6]:
#스트링을 딕셔너리 타입으로 변경
# eval('문자열') - 문자열 내에 포함된 파이썬 명령어를 실행하는 함수

df['genres'] = df['genres'].apply(eval)
df['keywords'] = df['keywords'].apply(eval)

#딕셔너리 내부의 하위 변수들을 합쳐서 문자열 변수 1개에 저장
df['genres'] = df['genres'].apply(
    lambda x : [d['name'] for d in x]).apply(lambda x : " ".join(x))

df['keywords'] = df['keywords'].apply(
    lambda x : [d['name'] for d in x]).apply(lambda x : " ".join(x))

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

count_vector = CountVectorizer()

#장르에 대한 출현빈도 계산
c_vector_genres = count_vector.fit_transform(df['genres']).toarray()
c_vector_genres

array([[1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

#코사인 유사도 계산
genre_c_sim = cosine_similarity(c_vector_genres, c_vector_genres).argsort()[:, ::-1]

cosine_similarity(c_vector_genres, c_vector_genres)[0][:30]

array([1.        , 0.77459667, 0.51639778, 0.2236068 , 0.89442719,
       0.77459667, 0.        , 0.89442719, 0.51639778, 0.77459667,
       1.        , 0.4472136 , 0.77459667, 0.51639778, 1.        ,
       0.51639778, 0.89442719, 0.77459667, 0.67082039, 0.77459667,
       0.77459667, 0.63245553, 0.63245553, 0.63245553, 0.51639778,
       0.        , 0.89442719, 0.8       , 0.8       , 0.51639778])

In [9]:
#영화 추천 함수

def get_recommend_movie_list(data, movie_title, top=5):
    # 특정 영화 검색
    target_movie_index = data[data['title'] == movie_title].index.values

    #코사인 유사도 상위 5행
    sim_index = genre_c_sim[target_movie_index, :top].reshape(-1)

    #아이디가 같은 self row 제외
    sim_index = sim_index[sim_index != target_movie_index]

    #data frame으로 만들고 vote_count으로 정렬한 뒤 return
    result = data.iloc[sim_index].sort_values('vote_average', ascending=False)[:10]

    return result

In [10]:
df[df['title'] == 'Superman']

,id,genres,vote_average,vote_count,popularity,title,keywords,overview
813,1924,Action Adventure Fantasy Science Fiction,6.9,1022,48.507081,Superman,saving the world journalist dc comics crime fi...,Mild-mannered Clark Kent works as a reporter a...

In [11]:
get_recommend_movie_list(df, movie_title='Superman')

,id,genres,vote_average,vote_count,popularity,title,keywords,overview
46,127585,Action Adventure Fantasy Science Fiction,7.5,6032,118.078691,X-Men: Days of Future Past,1970s mutant time travel marvel comic based on...,The ultimate X-Men ensemble fights a war for t...
0,19995,Action Adventure Fantasy Science Fiction,7.2,11800,150.437577,Avatar,culture clash future space war space colony so...,"In the 22nd century, a paraplegic Marine is di..."
870,8536,Action Adventure Fantasy Science Fiction,6.5,629,30.515175,Superman II,saving the world dc comics sequel superhero ba...,Three escaped criminals from the planet Krypto...
61,76757,Science Fiction Fantasy Action Adventure,5.2,2768,85.369080,Jupiter Ascending,jupiter space woman director 3d interspecies r...,In a universe where human genetic material is ...
3494,27549,Action Adventure Fantasy Science Fiction,4.6,17,1.478505,Beastmaster 2: Through the Portal of Time,based on novel time travel sequel psychotronic...,"Mark Singer returns as Dar, the warrior who ca..."